@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

header nav a {
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

header nav a:hover {
    color: #0086fc;    
    border-bottom: 2px solid #0086fc;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

#logo {
    width: 260px;
}

header ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    max-width: 1080px;
    margin: auto;
}

#list-artwork {
    display: flex;
    flex-wrap: wrap;
}

.artwork {
    width: 33.33%;
    padding: 15px;
}

.artwork img {
    width: 100%;
}

.artwork h2, #detail-artwork h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.artwork .description, #detail-artwork .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

#detail-artwork {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#img-artwork {
    margin-right: 25px;
}

#img-artwork img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#data-artwork {
    max-width: 470px;
}

#container-other-artwork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.other-artwork {    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.other-artwork img {    
    max-height: 300px;
}

#container-other-artwork {
    padding-bottom: 50px;
}

#container-other-artwork p {
    margin: 0;
}

#container-other-artwork a img {
    filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);		
      transition: 0.3s;
}

#container-other-artwork a:hover img {
    filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);	
}

footer {
    display: flex;
    height: 60px;   
    align-items: center;
    justify-content: center; 
    font-size: 12px;
    gap: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

#container-other-artwork a:hover p,
footer a:hover {
    color: #0086fc;
}

@media only screen and (max-width: 850px) {
    .artwork {
        width: 50%;
    }

    #img-artwork {
        margin-right: 0;
        width: 100%;
    }

    #img-artwork img {
        width: 100%;
    }

    #data-artwork {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 580px) {
    .artwork {
        width: 100%;
    }

    #logo {
        width: 200px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding-top: 15px;
        padding-bottom: 20px;
        gap:5px;
      }

      footer p {
        margin: 0;
      }
    
      footer p.separator {
        display: none;
      }
}