@media only screen and (min-width: 769px) and (max-width: 1023px) {
  h1,
  h2,
  .link-button {
    /* passe de 20px à 18px */
    font-size: 1.25rem;
    line-height: 21px;
  }

  h4,
  h4 a {
    /* passe de 16px à 15px */
    font-size: 0.938rem;
    line-height: 17px;
  }

  h3,
  input,
  input::placeholder {
    /* passe de 18px à 17px */
    font-size: 1.063rem;
    line-height: 20px;
  }

  .card p {
    /* passe de 14px à 13px; */
    font-size: 0.813rem;
    line-height: 15px;
  }

  a,
  li {
    /* passe de 16px à 15px */
    font-size: 0.938rem;
    line-height: 17px;
  }

  a span {
    /* passe de 17px à 16px; */
    font-size: 1rem;
    line-height: 18px;
  }

  /* ----- HEADER ----- */

  /* ----- MAIN ----- */

  /* ----- MAIN - Form ----- */

  label {
    padding: 11px 16px 10px;
  }

  input {
    padding: 10px;
  }

  /* ----- MAIN - section Filtres ----- */
  .filter {
    gap: 2.5%;
  }

  .fa-info {
    border: 1px solid var(--main-border-color);
    border-radius: 150px;
    padding: 6px 10px;
    margin: 10px 5px;
  }

  /* ----- MAIN - section Hébergements ----- */

  /* ----- MAIN - section Liste des Hébergements ----- */
  .list {
    width: 60%;
  }

  .container-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 35px 4%;
  }

  /* ----- MAIN - section des Hébergements populaires ----- */
  .popular {
    width: 40%;
  }

  /* ----- MAIN - section Activités ----- */
  .activities {
    gap: 2%;
  }

  .container-activities img {
    height: 300px;
  }

  /* ----- FOOTER ----- */
  footer {
    margin: 10px;
    gap: 2%;
    flex-wrap: wrap;
  }

  footer div {
    width: 25%;
    min-width: 50px;
    /* margin: 40px 0 40px 20px; */
    padding: 25px 0 25px 40px;
  }
}
