/* ----- Utilisation de variable pour les couleurs ----- */
:root {
  --main-color: #0065fc; /* var(--main-color) */
  --second-color: #deebff; /* var(--second-color) */
  --third-color: #ffffff; /* var(--third-color) */
  --main-background-color: #ffffff; /* var(--main-background-color) */
  /*  #d9d9d9; #f2f2f2;  */
  --second-background-color: #f2f2f2; /* var(--second-background-color) */
  --main-border-color: #d9d9d9; /* var(--main-border-color) */
}

/* -----  Initialisation ----- */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  margin-block: 0;
  font-family: 'Raleway', sans-serif;
}

/* -----  Définition de la tailles des fontes utilisées ----- */
h1,
h2,
.link-button {
  /* font-size: 22px; */
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 25px;
}

h4,
h4 a {
  /* font-size: 16px; */
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;
}

h3,
input,
input::placeholder {
  /* font-size: 18px; */
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
}

.card p {
  /* font-size: 14px; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
  padding: 5px 0;
}

li,
p {
  /* font-size: 16px; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}

a span {
  /* font-size: 17px; */
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 19px;
}

/* -----  PARTIE COMMUNE A TOUT LE DOCUMENT ----- */
body {
  background: var(--main-background-color);
  max-width: 1400px;
  /* margin: 0 3.5%; */
  margin: auto;
  width: 93%;
  color: black;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.hover-black a:hover {
  color: black;
}

a:hover,
a:focus {
  color: var(--main-color);
}

input::placeholder {
  opacity: 1;
  color: black;
}

img {
  /* Pour obliger les images à garder leur ratio h/l
  tout en remplissant toute la boite */
  object-fit: cover;
}

.card {
  background: var(--main-background-color);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover,
.card:focus {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.267);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* -----  Gestion des étoiles ----- */
.fa-star {
  font-size: 12px;
  letter-spacing: -0.2rem;
}

/* Etoile en blue foncé */
.main-color {
  color: var(--main-color);
}

/* Etoile en blue très clair */
.second-color {
  color: var(--second-color);
}

/* Ajout d'une marge sous les étoiles pour qu'elles ne touchent jamais le bord des blocs */
.notation {
  margin-bottom: 5px;
}

/* -----  Configuration propre à chaque éléments du DOM ----- */
/* ----- HEADER ----- */

header {
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

header img {
  height: 19px;
  padding: 44px 0 52px;
}

header a {
  margin: 20px;
  padding: 46px 5px 10px;
  border-top: 3px solid transparent;
}

nav a:hover,
nav a:focus {
  border-top: 3px solid var(--main-color);
}

/* ----- MAIN - Form ----- */
h1 {
  margin-left: 5px;
  padding: 5px 0;
}

h1 + p {
  margin-left: 5px;
}

form {
  margin: 20px 0;
}

label {
  background: var(--second-background-color);
  border: 1px solid var(--second-background-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 14px 18px 12px;
}

input {
  border: none;
  padding: 12px;
}

input:hover,
input:focus {
  background: var(--second-color);
}

input[type='text'] {
  border-top: 1px solid var(--second-background-color);
  border-bottom: 1px solid var(--second-background-color);
  margin: -5px;
  max-width: 250px;
  width: 40%;
}

input[type='submit'] {
  font-family: aleway, sans-serif;
  background: var(--main-color);
  color: var(--third-color);
  border: 1px solid var(--main-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:focus {
  color: var(--second-color);
}

/* ----- MAIN - section Filtres ----- */
.filter {
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 3.1%;
}

.link-button {
  border: 2px solid var(--main-border-color);
  border-radius: 150px;
  padding: 10px 15px;
  margin: 5px 0;
}

.link-button:hover,
.link-button:focus {
  background: var(--second-color);
}

/* Ajout padding entre les icones et les textes des filtres  */
.link-button i {
  padding-right: 10px;
}

.fa-info {
  border: 1px solid var(--main-border-color);
  border-radius: 150px;
  padding: 6px 10px;
  margin: 15px 5px;
}

/* MAIN */
.container-accommodation-activities {
  gap: 55px;
  margin-bottom: 60px;
}

/* ----- MAIN - section Hébergements ----- */
.container-accommodation {
  justify-content: center;
  align-content: flex-start;
  margin-top: 20px;
  gap: 2.5%;
}

.accommodation {
  background: var(--second-background-color);
  border-radius: 20px;
  padding: 40px 3.2% 20px;
}

/* ----- MAIN - section Liste des Hébergements ----- */
.list {
  width: 70%;
}

.container-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 4%;
  justify-content: center;
}

.container-list img {
  width: 95%;
  height: 110px;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-list .info {
  margin: 0 15px 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* height: 80px; */
}

.more {
  margin: 40px 0 25px;
}

/* ----- MAIN - section des Hébergements populaires ----- */
.popular {
  width: 30%;
}

.popular-title {
  align-items: baseline;
  justify-content: space-between;
}

.container-card-accommodation {
  align-items: flex-start;
  gap: 33px;
}

.popular .data-popular {
  align-items: flex-start;
}

.popular img {
  width: 160px;
  max-width: 33%;
  height: 134px;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.data-popular .info {
  justify-content: space-between;
  margin: 10px 15px 5px;
  min-height: 130px;
}

/* ----- MAIN - section Activités ----- */
.activities {
  align-items: stretch;
  gap: 3%;
}

.activities .card {
  width: 33%;
}

.container-activities img {
  width: 100%;
  height: 389px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-activities h4 {
  margin: 15px 20px 20px;
}

/* ----- FOOTER ----- */

footer {
  align-items: flex-start;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  gap: 5%;
  background: var(--second-background-color);
  padding: 10px;
}

footer div {
  width: 22%;
  min-width: 190px;
  /* margin: 40px 0 40px 70px; */
  padding: 25px 0 25px 50px;
}

footer h3 {
  padding-bottom: 15px;
}

footer li {
  padding-bottom: 10px;
}
