@media only screen and (min-width: 581px) and (max-width: 768px) {
  h1,
  h2,
  .link-button {
    /* passe de 20px à 17px */
    font-size: 1.063rem;
    line-height: 19px;
  }

  h4,
  h4 a {
    /* passe de 16px à 13px */
    font-size: 0.813rem;
    line-height: 15px;
  }

  h3,
  input,
  input::placeholder {
    /* passe de 18px à 15px */
    font-size: 0.938rem;
    font-weight: 700;
    line-height: 18px;
  }

  .card p {
    /* passe de 14px à 11px; */
    font-size: 0.688rem;
    line-height: 13px;
  }

  a,
  li {
    /* passe de 16px à 13px */
    font-size: 0.813rem;
    line-height: 15px;
  }

  a span {
    /* passe de 17px à 14px */
    font-size: 0.875rem;
    line-height: 16px;
  }

  /* ----- HEADER ----- */

  /* ----- MAIN ----- */

  /* ----- MAIN - Form ----- */

  label {
    padding: 7px 12px 8px;
  }

  input {
    padding: 8px;
  }

  /* ----- MAIN - section Filtres ----- */
  .filter {
    gap: 2%;
  }

  /* ----- MAIN - section Hébergements ----- */
  .container-accommodation {
    flex-wrap: wrap;
    gap: 20px;
  }

  .accommodation {
    padding: 30px 3.2% 20px;
  }

  /* ----- MAIN - section Liste des Hébergements ----- */
  .list {
    width: 95%;
  }

  .container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 2%;
    justify-content: center;
  }

  .container-accommodation p,
  .container-list .notation {
    padding: 5px 0;
  }

  .more {
    margin-top: 40px;
  }

  /* ----- MAIN - section des Hébergements populaires ----- */
  .popular {
    max-width: 350px;
    width: 95%;
  }

  .popular img {
    width: 180px;
    max-width: 33%;
    height: 124px;
    padding: 5px;
  }

  .data-popular .info {
    min-height: 120px;
  }

  .data-popular .info {
    min-height: 120px;
  }

  /* ----- MAIN - section Activités ----- */

  .activities {
    flex-wrap: wrap;
  }

  .activities .card {
    width: 40%;
    margin: 10px auto;
  }

  .container-activities img {
    height: 250px;
  }

  .container-activities h2 {
    margin: 10px 20px 10px;
  }

  /* ----- FOOTER ----- */
  footer {
    margin: 10px;
    gap: 2%;
    flex-wrap: wrap;
  }

  footer div {
    width: 40%;
    /* margin: 40px 0 40px 20px; */
    padding: 20px 0 20px 30px;
  }
}
